/* ORIGINAL CSS */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
/* LOADED FONTS */
@font-face {
    font-family: 'Apercu';
    src:    url('/css/fonts/Apercu-Light.woff2') format('woff2'),
            url('/css/fonts/Apercu-Light.woff') format('woff');
            font-weight: 300;
            font-style: normal;
}
@font-face {
    font-family: 'Apercu Mono';
    src:    url('/css/fonts/Apercu-Mono.woff2') format('woff2'),
            url('/css/fonts/Apercu-Mono.woff') format('woff');
            font-weight: normal;
            font-style: normal;
}
@font-face {
    font-family: 'Sailec';
    src:    url('/css/fonts/Sailec-Bold.woff2') format('woff2'),
            url('/css/fonts/Sailec-Bold.woff') format('woff');
            font-weight: bold;
            font-style: normal;
}
@font-face {
    font-family: 'Untitled Sans';
    src:    url('/css/fonts/UntitledSansTest-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
}

html { 
    font-size: 1em; 
    scroll-behavior: smooth;
}

body { margin: 0; }

main {
    display: block;
    margin: 18%;
}

nav {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;

    /* sticky boi */
    position: fixed;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.90);

}

nav > div.container {
    display: flex;
    flex-direction: row;
    padding: 2% 0 2% 0;
    justify-content: space-between;
}

nav > div.container > a {
    text-decoration: none;
    width: 33.33%;
    text-align: center;
    font-size: 5vw;
    color: #ed174c;
    font-family: 'Apercu Mono', monospace, sans-serif;
}

hr {
    height: 1vw;
    width: 33.33%;
    margin: 0;
    margin-left: 0%;
    background: #ed174c;
    border: none;
    transition: .3s ease-in-out;
}

nav > div.container > a.active { 
    color: #ed174c;
    transition: .3s ease-in-out;
}

.main-header {
    font-family: 'Sailec', Helvetica, sans-serif;
    font-size: 3em;
}

.info-header {
    font-family: 'Sailec', Helvetica, sans-serif;
    font-size: 2.75em;
}

.sub-header {
    font-family: 'Apercu Mono', monospace, sans-serif;
    color: #6d6d6d;
    font-size: 1.2em;
    line-height: 1em;
}

.info-sub-header {
    font-family: 'Untitled Sans', monospace, sans-serif;
    line-height: 2em;
    color: #000;
}

section.information {
    display: block;
    margin: 18%;
    overflow: hidden;
}

section.work {
    display: block;
    margin: 18%;
    overflow: hidden;
}




/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {

    nav {
        border-bottom: #ed174c solid 1px;
    }

    nav > div.container > a {
        font-size: 4vw;
    }

    hr {
        height: 0.75vw;
    }

    main {
        margin: 13%;
        padding-top: 5%;
    }

    section.information {
        margin: 13%;
    }
    
    section.work {
        margin: 13%;
    }

    .main-header {
        font-size: 2em;
    }

    .sub-header {
        font-size: .80em;
        line-height: 1.5em;
    }

    .info-header {
        font-size: 1.60em;
    }
    
    .info-sub-header {
        font-size: .80em;
        line-height: 2em;
    }

}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
    nav {
        border-bottom: #ed174c solid 1px;
    }

    nav > div.container > a {
        font-size: 4vw;
    }

    hr {
        height: 0.75vw;
    }


    main {
        margin: 13%;
        padding-top: 5%;
    }

    section.information {
        margin: 13%;
    }
    
    section.work {
        margin: 13%;
    }

    .main-header {
        font-size: 3em;
    }

    .sub-header {
        font-size: 1em;
        line-height: 1.5em;
    }

    .info-header {
        font-size: 2.1em;
    }
    
    .info-sub-header {
        font-size: 1em;
        line-height: 1.75em;
    }

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {

    nav {
        width: 40%;
        margin-left: 60%;

        border-left: #ed174c solid 1px;
        border-bottom: #ed174c solid 1px;
    }

    nav > div.container > a {
        font-size: 2.5vw;
    }

    hr {
        height: 0.75vw;
    }

    main {
        margin: 18%;
        padding-top: 10%;
    }

    section.information {
        margin: 18%;
        margin-right: 25%;

    }
    
    section.work {
        margin: 18%;
    }

    .main-header {
        font-size: 2.5em;
    }

    .sub-header {
        font-size: 1em;
        line-height: 1.5em;
    }

    .info-header {
        font-size: 2em;
    }
    
    .info-sub-header {
        font-size: 1em;
        line-height: 2.5em;
    }

}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {

    nav {
        width: 30%;
        margin-left: 70%;

        border-left: #ed174c solid 1px;
        border-bottom: #ed174c solid 1px;
    }

    nav > div.container > a {
        font-size: 1.5vw;
    }

    hr {
        height: 0.5vw;
    }


    main {
        margin: 18%;
        padding-top: 0;
    }

    section.information {
        margin: 18%;
        margin-right: 25%;

    }
    
    section.work {
        margin: 18%;
    }

    .main-header {
        font-size: 3em;
    }

    .sub-header {
        font-size: 1em;
        line-height: 1.5em;
    }

    .info-header {
        font-size: 2.5em;
    }
    
    .info-sub-header {
        font-size: 1em;
        line-height: 2em;
    }

}

/* ANIMATED ANCHORS */


.animated-links a {
    font-family: "Apercu Mono", monospace, sans-serif;
    font-size: 0.80em;
    position: relative;
    color: #ed174c;
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 .2em 0;
    line-height: 1em;
    margin-right: 4%;
}

.animated-links a:hover {
    color: #ed174c;
}

.animated-links a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ed174c;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.animated-links a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* FOOTER */

footer {
    margin: 0;
    overflow: hidden;
    background-color: #ed174c;
}

footer p {
    margin-left: 18%;
    margin-right: 18%;
}


.footer-style {
    font-family: "Apercu", monospace, sans-serif;
    font-size: 0.80em;
    color: #fff;
}

/* Interactive CSS */
::selection {
    background: #f2e5e4;
}

#work {
    color: transparent;
}

/* RESPONSIVE FONTS */

/* -------------------------------------------------------------- */

section.work {
    background-color: #ed174c;
    margin:0;
    margin-top: 30%;
}

.card-slider {
    background-color: beige;
    padding: 2%;
}

.cards {
    background-color: darkblue;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2px;
}


.card {
    width: 250px;
    min-height: 400px;
    margin: 1%;
    background-color: lightblue;
    position: relative;
}

.card-header {
    position: absolute;
    background-color: lightcoral;
    bottom:0;
    width: 100%;
    text-align: center;
}

img {
    width: 100%;
}



/*
section.work div.card-slider {

    overflow-x: scroll;
    overflow-y: hidden;

    width: 100%;
    white-space: nowrap;
    margin:0;
  }
  
  section.work div.card-slider {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
