/* ORIGINAL CSS */
/* LOADED FONTS */
@font-face {
    font-family: 'Apercu';
    src:    url('/css/fonts/Apercu-Light.woff2') format('woff2'),
            url('/css/fonts/Apercu-Light.woff') format('woff');
            font-weight: 300;
            font-style: normal;
}

@font-face {
    font-family: 'Apercu Mono';
    src:    url('/css/fonts/Apercu-Mono.woff2') format('woff2'),
            url('/css/fonts/Apercu-Mono.woff') format('woff');
            font-weight: normal;
            font-style: normal;
}

@font-face {
    font-family: 'Sailec';
    src:    url('/css/fonts/Sailec-Bold.woff2') format('woff2'),
            url('/css/fonts/Sailec-Bold.woff') format('woff');
            font-weight: bold;
            font-style: normal;
}

@font-face {
    font-family: 'Untitled Sans';
    src:    url('/css/fonts/UntitledSansTest-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
}

html { font-size: 1em; }

body { margin: 0; }

main {
    display: block;
    margin: 18%;
}

.main-header {
    font-family: 'Sailec', Helvetica, sans-serif;
    font-size: 3em;
}

.info-header {
    font-family: 'Sailec', Helvetica, sans-serif;
    font-size: 2.75em;
}

.sub-header {
    font-family: 'Apercu Mono', monospace, sans-serif;
    color: #6d6d6d;
    font-size: 1.2em;
    line-height: 1em;
}

.info-sub-header {
    font-family: 'Untitled Sans', monospace, sans-serif;
    line-height: 2em;
    color: #000;
}

section.information {
    display: block;
    margin: 18%;
    overflow: hidden;
}

section.work {
    display: block;
    margin: 18%;
    overflow: hidden;
}

/* NAV */

nav {
    margin: 0;
    padding: 0em;
    overflow: hidden;

    /* sticky */
    position: fixed;
    top: 0;
    width: 100%;
}


nav a {
    font-family: 'Apercu Mono', monospace, sans-serif;
    color: #ed174c;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.75);
    float: right;
    display: block;
    padding: 2%;
    text-align: center;
}

nav a:hover:not(.active) {background-color: #f2e5e4;}

nav a.active {background-color: #ed174c; color: #fff;}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
    body {
        background-color:#fff;
    }

    .main-header {
        font-size: 2em;
    }
        
    .sub-header {
        font-size: 1em;
        line-height: 1em;
    }
    
    .info-header {
        font-size: 2.75em;
    }

    .info-sub-header {
        line-height: 2em;
    }

}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
    body {
        background-color: white;
    }

}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
    body {
        background-color: white;
    }

}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
    body {
        background-color: white;
    }

    .main-header {
        font-size: 3em;
    }
        
    .sub-header {
        font-size: 1.2em;
        line-height: 1em;
    }
    
    .info-header {
        font-size: 2.75em;
    }

    .info-sub-header {
        line-height: 2em;
    }

}

/* ANIMATED ANCHORS */

.animated-links a {
    font-family: "Apercu Mono", monospace, sans-serif;
    font-size: 0.80em;
    position: relative;
    color: #ed174c;
    text-decoration: none;
    display: inline-block;
    padding: 0 0 .2em 0;
    line-height: 1em;
}

.animated-links a:hover {
    color: #ed174c;
}

.animated-links a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ed174c;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.animated-links a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.animated-links span {
    padding: 1em;
}

/* FOOTER */

footer {
    margin: 0;
    overflow: hidden;
    background-color: #ed174c;
}

footer p {
    margin-left: 18%;
    font-family: "Apercu";
    font-size: 0.80em;
    color: #fff;
}

/* Interactive CSS */
::selection {
    background: #f2e5e4;
}
